<!DOCTYPE html>
<html>
  <head>
    <script data-require="angular.js@1.5.3" data-semver="1.5.3" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.24/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>    
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.4.0.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="overflow: scroll;">
    <div ng-app="ngSpottingApp" ng-controller="PosterCtrl as posterCtrl">
      <div id="poster" style="display: inline-block; width: 660px; background-color: #FFFFFF;">
        <div style="display: inline-block; margin-left: 14px; width: 506px; padding-right: 5px;">
          <div style="text-align: justify; height: 576px; font-size: 22px;">{{posterCtrl.text}}</div>
          <div style="font-weight: bold; height: 52px; font-size: 52px">{{posterCtrl.subtitle1}}</div>
          <div style="color: #EC6917; font-weight: bold; height: 88px; font-size: 88px;">{{posterCtrl.subtitle2}}</div>
        </div>
        <div style="position: absolute;background-color: #EC6917;display: inline-block;width: 140px;height: 726px;">
          <div style="color: white; transform: rotate(90deg); white-space: nowrap; font-weight: bold; font-size: 112px;">{{posterCtrl.title}}</div>
        </div>
      </div>
      <div style="display: inline-block; vertical-align: top;">
        <p>
			<label>Edit text below</label><br/>
			<input type="text" ng-model="posterCtrl.title" ng-trim="false"/>
        </p>
        <p>
        	<textarea ng-model="posterCtrl.text" style="width: 20em; text-align: justify;" rows="20" cols="39" ng-trim="false"></textarea>
		</p>
        <p>
			<input type="text" ng-model="posterCtrl.subtitle1" style="width: 20em;" ng-trim="false"></input>
        </p>
        <p>
			<input type="text" ng-model="posterCtrl.subtitle2" style="width: 20em;" ng-trim="false"></input>
        </p>
		<table cellpadding="10">
			<tr>
				<td>
					<button class="btn btn-primary" ng-click="posterCtrl.createImage()" ng-disabled="!posterCtrl.imageCreated">Create image</button>
				</td>
				<td>
					<button class="btn btn-primary" ng-click="posterCtrl.createPDF()" ng-disabled="posterCtrl.imageCreated">Create PDF</button>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<a class="btn btn-primary" ng-href="{{posterCtrl.image}}" download="trainspotting.png" ng-disabled="posterCtrl.imageCreated">Download Image</a>
				</td>
			</tr>
			<tr>
				<td><button class="btn btn-primary" ng-click="posterCtrl.init()">Reset</button></td>
				<td></td>
			</tr>
		</table>
      </div>
    </div>

    <script>
      var app = angular.module('ngSpottingApp', []);
      
      app.config(function($compileProvider) {
        $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|data):/);
      }); 
      
      app.controller('PosterCtrl', function(ngHtml2canvas) {
        var vm = this;
        vm.createImage = createImage;
        vm.createPDF = createPDF;
        vm.init = init;
        vm.image = null;
        
        vm.init();

		function init() {
			vm.title = 'Trainspotting';
			vm.text = 'Choose Life. Choose a job. Choose a career. Choose a family. Choose a fucking big television, choose washing machines, cars, compact disc players and electrical tin openers. Choose good health, low cholesterol, and dental insurance. Choose fixed interest mortage repayments. Choose a starter home. Choose your friends. Choose leisurewear and matching luggage. Choose a three-piece suite on hire purchase in a range of fucking fabrics. Choose DIY and wondering who the fuck you are on a Sunday morning. Choose sitting on that couch watching mind-numbing, spirit-crushing game shows, stuffing fucking junk food into your mouth. Choose rotting away at the end of it all, pishing your last in a miserable home, nothing more than an embarrassment to the selfish, fucked up brats you spawned to replace yourself.';
			vm.subtitle1 = 'Choose your future.';
			vm.subtitle2 = 'Choose life.';
			vm.imageCreated = true;
		}
		
        /**
         * from http://stackoverflow.com/questions/34049956/generate-pdf-from-html-using-pdfmake-in-angularjs
         */
        function createPDF() {
          var docDefinition = {
            content: [{
              image: vm.image,
              width: 500,
            }]
          };
          pdfMake.createPdf(docDefinition).download("trainspotting.pdf");
        }

        /**
         * partially from https://github.com/tristansokol/html2canvas-angular
         */
        function createImage() {
          ngHtml2canvas.renderBody().then(function(canvas){
            vm.image = canvas.toDataURL();
          });
          vm.imageCreated = false;
        }
        
      });
      
        /**
         * from https://github.com/tristansokol/html2canvas-angular
         */
      app.factory('ngHtml2canvas', function($q) { 
        var self={
          renderBody:function(){
            var deferred = $q.defer();
            html2canvas(document.getElementById("poster"), {
              onrendered: function(canvas) {
                deferred.resolve(canvas);
              }
            });
            return deferred.promise;
          }
        }
        return self;
      });
    </script>
  </body>
</html>
